.DS_Store
.idea
*.log
.sass-cache
.vagrant
.env
*.local.yml
auth.json

/vendor
/ignore
/database
/bower_components
/node_modules

site/.htaccess
site/wordpress
site/content/*

!site/content/themes
site/content/themes/**/built/*

!site/content/plugins
site/content/plugins/*

!site/content/mu-plugins
site/content/mu-plugins/*
!site/content/mu-plugins/autoloader.php