
@mixin space-horizontally( $space:1rem ) {
	> *:not(:last-child) {
		margin-right: #{$space};
	}
}

@mixin space-vertically( $space:1rem ) {
	> *:not(:last-child) {
		margin-bottom: #{$space};
	}
}

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
